body {
    margin: 0px;
    /* display: flex; */
}

.first, .second, .third, .fourth {
    padding: 0% 20%;
    font-family: Arial, Helvetica, sans-serif;
}

.first {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.header-links {
    display: flex;
    gap: 20px;
    color: #e5e7eb;
}

.top-under {
    display: flex;
    justify-content: space-between;
}

.top-left {
    padding-right: 85px;
}

.top-left>div {
    font-size: 18px;
    color: #e5e7eb;
}

.top-left>button {
    margin-top: 10px;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    border-style: none;
}

.top-left>button:hover {
    background-color: #2a63bd;
}

.top-right {
    margin-bottom: 5%;
    width: 45%;
    height: 20%;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
}