body {
    margin: 0px;
    /* display: flex; */
}

.first, .second, .third, .fourth {
    padding: 0% 22%;
    font-family: Arial, Helvetica, sans-serif;
}

.first {
    background-color: #1F2937;
    padding-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.header-links {
    display: flex;
    gap: 20px;
    color: #e5e7eb;
}

.top-under {
    display: flex;
    justify-content: space-between;
}

.top-left {
    padding-right: 85px;
}

.top-left>div {
    font-size: 18px;
    color: #e5e7eb;
}

.top-left>button {
    margin-top: 10px;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    border-style: none;
}

.top-left>button:hover {
    background-color: #2a63bd;
}

.top-right {
    margin-bottom: 5%;
    width: 45%;
    height: 20%;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 20px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.second-empty {
    width: 150px;
    height: 150px;
    border: solid;
    border-color: #3882f6;
    border-radius: 10px;
    /* margin-left: 20px; */
    margin: 30px;
    margin-bottom: 10px;
}
.second-boxes {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
}

.second-section {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.second-text {
    text-align: center;
    font-size: 18px;
    color: #1f2937;
}

.third {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #e5e7eb;
    padding-top: 100px;
    padding-bottom: 50px;
}

i {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}